
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
<div class="row" style="text-align:left; padding:65px">
    <input value="Nuevo" class="btn btn-primary" type="submit"/>
    <input value="Edit" class="btn btn-primary" type="submit" />   
    
</div>
