
@Styles.Render("~/Content/EstiloForm.css")
<div class="Botones">
    <button class="btn btn-primary"><span class="glyphicon glyphicon-floppy-save"></span>Nuevo</button>
    <button class="btn btn-info" "Botones"><span class="glyphicon glyphicon-pencil"></span> Editar</button>
    <button class="btn btn-success"><span class="glyphicon glyphicon-list-alt"></span> Listar</button>
    <button class="btn btn-success"><span class="glyphicon glyphicon-print"></span> Imprimir</button>
    <button type="reset" class="btn btn-warning"><span class="glyphicon glyphicon-refresh"></span> Cancelar</button>
    <button class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Borrar</button>
    <a href="~/Hijos/index" class="btn btn-info"><span class="glyphicon glyphicon-off"></span> Salir</a>
</div>
