@model MySqlCRUD.Models.ViewModels.HijosViewModels
@{
    ViewBag.Title = "Formulario";
}
@Styles.Render("~/Content/Estilos.css")
@Html.ValidationSummary(true, "", new { @class = "text-danger" })
<body>
    <main>
        <section>
            <h1>
                Nuevo Registro
            </h1>
            <form action="Nuevo" method="post" class="Form-Contenedor">

                <div class="Campo">
                    <label>Nombre</label>
                    <input type="text" name="Nombre"/>
                </div>
                <div class="Campo">
                    <label>Apellidos</label>
                    <input type="text" name="Apellidos"/>
                </div>
                <div class="textbox">
                    <label>Dirección</label>
                    <textarea name="Direccion"/>
                </div>
                <div class="Campo">
                    <label>Fecha Nacimiento</label>
                    <input type="date" name="Fechanac"/>
                </div>
                <div class="Campo">
                    <label>Edad</label>
                    <input type="number" name="Edad"/>
                </div>

                <div class="Campo">

                    <label>Sexo</label>
                    <select name="Sexo"><option>Masculino</option><option>Femenino</option></select>
                </div>

                <div class="Campo">
                    <label>Padres</label>
                    @Html.DropDownListFor(x => x.PadresId, Model.Padres, "")
                </div>

                <div class="Botones">
                    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-save"></span>Nuevo</button>
                    <button class="btn btn-success"><span class="glyphicon glyphicon-list-alt"></span> Listar</button>
                    <button class="btn btn-success"><span class="glyphicon glyphicon-print"></span> Imprimir</button>
                    <button type="reset" class="btn btn-warning"><span class="glyphicon glyphicon-refresh"></span> Cancelar</button>
                    <a href="~/Hijos/index" class="btn btn-info"><span class="glyphicon glyphicon-off"></span> Salir</a>
                </div>




            </form>
        </section>
    </main>
</body>